<ng4-loading-spinner></ng4-loading-spinner>

<div>
  <section class="ourservices" style="padding:50px;">
<h3>Main Data</h3>
    <button class="btn btn-primary" [routerLink]="['/ques']">Remove Duplicate</button>
<table style="width: 70%;" class="table">
  <thead>
  <tr class="text-centre">
    <th>No</th>
    <th >Gender</th>
    <th >Description</th>
    <th >Provider Type</th>
    <th >First Name</th>
    <th >Organisation Name</th>
    <th>Address</th>
    <th>City</th>
    <th>State</th>
    <th>Zip</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let a of datas; let i = index;">
    <td>{{i + 1}}</td>
    <td>{{a.GNDR_SW}}</td>
    <td>{{a.PROVIDER_TYPE_DESC}}</td>
    <td>{{ a.PROVIDER_TYPE_CD }}</td>
    <td>{{ a.FIRST_NAME}}</td>
    <td>{{ a.ORG_NAME}}</td>
    <td>{{a.PRVDR_ADR_LINE_1_TXT}}</td>
    <td>{{a.PRVDR_ADR_CITY_NAME}}</td>
    <td>{{a.PRVDR_ADR_STATE_CD}}</td>
    <td>{{a.PRVDR_ADR_ZIP_CD}}</td>
  </tr>
  </tbody>
</table>
  </section>
</div>
