<div>
  <section class="ourservices" style="padding:50px;">
    <div>
      <h5>Total Matched Records : {{this.matchData.match.length}} / 5</h5>
      <h5>Total Distinct Records : {{this.matchData.distinct.length}} / 5</h5>
      <button class="btn btn-danger" *ngIf="this.matchData.match.length > 4 && this.matchData.distinct.length >4"
              (click)="terminateData()">Terminate
      </button>

    </div>
    <div *ngIf="showQuestions">
      <div class="panel panel-default" style="width: 70%">
        <div class="panel-heading"><b> Are the below record similar or not?</b></div>
        <div class="panel-body"><table class="row-border hover table">
          <thead>
          <tr>
            <th class="text-centre">Address</th>
            <th class="text-centre">City</th>
            <th class="text-centre">Cuisine</th>
            <th class="text-centre">Name</th>
            <th class="text-centre">Unique_Id</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let b of value">
            <td>{{b.address}}</td>
            <td>{{b.city}}</td>
            <td>{{b.cuisine}}</td>
            <td>{{b.name}}</td>
            <td>{{b.unique_id}}</td>
          </tr>
          </tbody>
        </table></div>
        <div class="panel-footer"><button class="btn btn-primary" (click)="setAnswer('y',value)">Yes</button>
          <button class="btn btn-danger" (click)="setAnswer('n',value)">No</button>
          <button class="btn btn-info" (click)="setAnswer('na',value)">Not Sure</button></div>
      </div>
    </div>
    <div *ngIf="!showQuestions">
      <table class="table">
        <tr>
        <th>cluster_id</th>
        <th>confidence_score</th>
        <th>unique_id</th>
        <th>name</th>
        <th>Address</th>
        <th>City</th>
        <th>cuisine</th>
        </tr>
        <tr *ngFor="let a of finaldata">
          <td>{{a["Cluster ID"]}}</td>
          <td>{{a["confidence_score"]}}</td>
          <td>{{a["unique_id"]}}</td>
          <td>{{a["name"]}}</td>
          <td>{{a["address"]}}</td>
          <td>{{a["city"]}}</td>
          <td>{{a["cuisine"]}}</td>
        </tr>
      </table>
    </div>
  </section>
</div>
